html, body{
  margin: auto;
  height: 100%;
}

body{
	display: flex;
	justify-content: center;
  	align-items: center;
}

#vid {
	position: absolute;
	bottom: 0px; 
	left: 0px; 
	min-width: 100%; 
	min-height: 100%;  
	z-index: -1000; 
	overflow: hidden;
}

#closeBtn{
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer;
  z-index: 100;
}