html, body{
 	margin: auto;
 	height: 100%;
 	background-color: #383d49;
}

#closing{
	display: none;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	z-index: 50;
}

#vid {
	position: absolute;
	top: 0px; 
	left: 0px; 
	min-width: 100%; 
	min-height: 100%;  
	z-index: -1000; 
	overflow: hidden;
}

#closeBtn{
 	position: absolute;
 	top: 100px;
 	right: 100px;
 	cursor: pointer;
 	z-index: 100;
}

p{
	font-family: 'Roboto Mono', monospace;
  	font-size: 20pt;s
  	color: #44ec86;
  	margin:auto;
  	margin-top: 20vh;
  	text-align:center;
  	margin-bottom: 100px;
}